<h1><%= @user.username.capitalize + "'s" %> Playlists</h1>
<ul>
<% @user.playlists.each do |playlist|%>
  <li><%= link_to playlist.title, user_playlist_path(@user, playlist) %></li>
<% end %>
</ul>

<% if @owner_homepage %>
<h1>Create a new playlist</h1>
  <%= form_tag(user_playlists_path(@user), method: :post) do %>
  <label>Title</label>
  <%= text_field_tag :title %>
  <%= submit_tag 'Create a Playlist' %>
  <% end %>

<br>
  <%= button_to 'Delete User Account', @user, method: :delete %>
<% end %>
