<!DOCTYPE html>
<html>
  <head>
    <title>Sadboify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if session[:user_id] %>
      <%= button_to 'Logout', action: 'logout', controller: 'users' %>
      <% end %>

  </body>
</html>
